body {
    background-color: #20222f;
    padding: 20px 80px;
}

.menu-header {
    display: inline-flex;
    width: 100%;
    color: #fffffe;
    margin-bottom: 0;
}

.menu-bar {
    width: 80%;
}

.menu-bar h1 {
    margin-bottom: 5px;
}

.menu-bar h2 {
    color: #595f77;
    margin-top: 0;
}

.menu-mode {
    width: 20%;
}

.main-ranking {
    position: relative;
    color: #fffffe;
}

.main-box {
    display: inline-block;
    height: 180px;
    background-color: #252b43;
    text-align: center;
    padding: 20px 50px;
    margin: 30px 15px;
}

#box-facebook {
    border-top: 4px #2164a3 solid;
}

#box-twitter {
    border-top: 4px #329adc solid;
}

#box-instagram {
    border-top: 4px solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-image: linear-gradient(45deg,  #fcbc63,  #cb5791) 1;
}

#box-youtube {
    border-top: 4px  #c71b41 solid;

}

.icon {
    margin: 50px auto 5px auto;
    padding: 10px;
    color: #595f77;
    font-style: normal;
    font-weight: bold;
}

.main-box h2 {
    font-size: 3rem;
    margin-bottom: 4px;
    margin-top: 30px;
}

.main-box p {
    color: #595f77;
    letter-spacing: 4px;
    font-weight: lighter;
    text-transform: capitalize;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
}

.statistic-icon-up {
    color: #387d77;
    font-style: normal;
}

.statistic-icon-down {
    color: #9b4e5d;
    font-style: normal;
}

.overview-section {
    position: relative;
    color: #fffffe;
}

.overview-box {
    display: inline-block;
    height: 100px;
    width: 130px;
    background-color: #252b43;
    text-align: center;
    padding: 20px 50px;
    margin: 30px 15px;
}

